.tweetBox {
    border: grey;
    border-style: solid;
}

button {
    display: inline-block;
    width: 250px;
    height: 50px;
    background-image: url(http://platform.twitter.com/widgets/images/tweet.dfbf1dd98bad9f5b5addd80494650dca.png);
    background-position: 0 0;
    background-color: cyan;
    color: black;
    font-size: larger;
}

Tweet {
    margin-left: 20%;z
}
